@import "src/md3/theme.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

ion-input {
    --color: #fff;
    --placeholder-color: #584190;
    --placeholder-opacity: 0.8;
    --border-radius: 56px;
    --border: 1px solid white;
}

ion-input.label-floating {
    --highlight-color: rgb(255, 255, 255);
}
/* Remove a barra de rolagem globalmente */
html,
body,
ion-content {
    /* Esconder barras de rolagem */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE e Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
ion-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}

ion-segment {
    --background: #151a3f;
    --ion-text-color-rgb: rgb(255, 255, 255);
}
ion-segment * {
    --color: rgb(255, 255, 255);
    color: white;
}

.animate__animated {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family:
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;

    font-style: normal;
}

:root {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255, 255, 255;

    --ion-text-color: #4f378a;
    --ion-text-color-rgb: 79, 55, 138;

    --ion-text-color-step-50: #584190;
    --ion-text-color-step-100: #614b96;
    --ion-text-color-step-150: #69559c;
    --ion-text-color-step-200: #725fa1;
    --ion-text-color-step-250: #7b69a7;
    --ion-text-color-step-300: #8473ad;
    --ion-text-color-step-350: #8d7db3;
    --ion-text-color-step-400: #9587b9;
    --ion-text-color-step-450: #9e91bf;
    --ion-text-color-step-500: #a79bc5;
    --ion-text-color-step-550: #b0a5ca;
    --ion-text-color-step-600: #b9afd0;
    --ion-text-color-step-650: #c1b9d6;
    --ion-text-color-step-700: #cac3dc;
    --ion-text-color-step-750: #d3cde2;
    --ion-text-color-step-800: #dcd7e8;
    --ion-text-color-step-850: #e5e1ed;
    --ion-text-color-step-900: #edebf3;
    --ion-text-color-step-950: #f6f5f9;

    --ion-background-color-step-50: #f6f5f9;
    --ion-background-color-step-100: #edebf3;
    --ion-background-color-step-150: #e5e1ed;
    --ion-background-color-step-200: #dcd7e8;
    --ion-background-color-step-250: #d3cde2;
    --ion-background-color-step-300: #cac3dc;
    --ion-background-color-step-350: #c1b9d6;
    --ion-background-color-step-400: #b9afd0;
    --ion-background-color-step-450: #b0a5ca;
    --ion-background-color-step-500: #a79bc5;
    --ion-background-color-step-550: #9e91bf;
    --ion-background-color-step-600: #9587b9;
    --ion-background-color-step-650: #8d7db3;
    --ion-background-color-step-700: #8473ad;
    --ion-background-color-step-750: #7b69a7;
    --ion-background-color-step-800: #725fa1;
    --ion-background-color-step-850: #69559c;
    --ion-background-color-step-900: #614b96;
    --ion-background-color-step-950: #584190;
    --swiper-pagination-color: var(--ion-background-color-step-850);
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
    --swiper-navigation-color: --ion-background-color-step-850;
    --swiper-pagination-color: --ion-background-color-step-850;
}

.swiper-vertical .swiper-button-next,
.swiper-vertical .swiper-button-prev {
	left: 50%;
	transform: rotate(90deg);
	transform-origin: left center;
}
.swiper-vertical .swiper-button-prev {
	top: calc(var(--swiper-navigation-size) / 2);
}
.swiper-vertical .swiper-button-next {
	top: auto;
	bottom: calc(var(--swiper-navigation-size) / 2);
}